.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  background-color: var(--card-bg-color);
  border: 1px solid transparent;
  border-radius: var(--border-radius-10px);
}

.card-edit__btn {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 5px;
  position: absolute;
  border: none;
  border-radius: 50%;
  right: 52px;
  top: 10px;
  cursor: pointer;
  display: none;
}

.card-delete__btn {
  justify-content: center;
  align-items: center;
  background-color: red;
  color: black;
  width: 35px;
  height: 35px;
  position: absolute;
  border: none;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  cursor: pointer;
  display: none;
}

.card:hover .card-edit__btn,
.card:hover .card-delete__btn {
  display: inline;
}

.card__image-wrapper {
  padding: 5px;
  padding-bottom: 0;
  height: 250px;
}

.card__image-wrapper img {
  border: 0px solid transparent;
  border-radius: var(--border-radius-10px);
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 10px;
}

.card__title {
  font-family: "Pacifico", cursive;
  word-break: break-all;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: var(--card-margin-bottom);
}

.card__descr {
  font-family: "Merriweather", sans-serif;
  word-break: break-all;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: var(--card-margin-bottom);
}

.card__button {
  font-family: "Pacifico", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-top: auto;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: var(--border-radius-5px);
  background-color: var(--button-bg-color);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card__button {
    width: 50%;
  }
}

@media screen and (max-width: 560px) {
  .card__button {
    width: 100%;
  }
}
